body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: poppins;
}
.bg{
    background-image: url(assets/stefan.png);
    height:1050px;
}
.navbar{
    height: 70px;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}
.let{
    width: 76px;
    height: 60px;
    color: white;
}
.let p{
    font-family: Laila;
    font-size: 24px;
    font-weight: 700;
    line-height: 24.6px;
    text-align: center;
}
.let span{
    font-family: Laila;
    font-size: 32px;
    font-weight: 700;
    line-height: 32.8px;
    text-align: center;
}
.left p{
    color: white;
    font-family: Laila;
    font-size: 20px;
    font-weight: 700;
    line-height: 32.8px;
    text-align: center;
}

.middle{
    width: 320px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.rit{
    width: 60px;
    height: 40px;
    display: flex;
    gap: 20px;
}
.imgn{
    display: block;
    justify-content: center;
    align-items: center;
    width: 779px;
    height: 204px;
    margin: auto;
    margin-top: 10rem;
 
}
.imgn h1{
    color: white;
    font-family: Open Sans;
    font-size: 75px;
    font-weight: 800;
    text-align: center;
}
.bg h3{
    color: white;
    width: 568px;
    height: 44px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
}
.bg button{
    margin-top: 20px;
    background: #00A651;
    width: 214px;
    height: 60px;
    margin-left: 640px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.bg button span{
    color: white;
    width: 168px;
    height: 33px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 32.68px;
    text-align: center;
}
.service-page p{
    width: 230px;
    height: 54px;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 54.47px;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 50px;
}
.service-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.card{
    width: 416px;
    height: 232px;
    border-radius: 15px;
    background: #F9F9F9;
    box-shadow: 0px 4px 16px 0px #00000026;
    padding-left: 30px;
    padding-top: 40px;
}
.hotel{
    background-color: white;
    box-shadow: 0px 4px 16px 0px #00000026;
}
.card svg{
    margin-bottom:30px;
    width: 41px;
    height: 41px;
}
.card h2{
    width: 177px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
}
.card :nth-child(3){
    width: 328px;
    height: 44px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
}
.track-record{
    width: 100vw;
    height: 733px;
    background: #0058530D;
    display: grid;
    align-items: center;
    justify-content: center;
}
.bg-2{
    width: 1184px;
    height: 622px;
    margin: auto;
}
.bg-2 h1{
    width: 518px;
    height: 108px;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 54.47px;
    text-align: center;
    margin: auto;
    margin-top: -600px;
}
.bg-2 h3{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: center;
    width: 495px;
    height: 44px;
    margin: auto;
    margin-top: 20px;
}
.card-2{
    width: 90vw;
    height: 200px;
    margin-top: -500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kad{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background: #FFFFFF;
    padding-left: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.kad :nth-child(1){
    margin-left: 30px;
}
.kad :nth-child(2){
    margin-left: 25px;
    width: 102px;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 26.03px;
    text-align: left;


}
.kad :nth-child(3){
    width: 103px;
    height: 54px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.24px;
    text-align: center;
}
.section4 h1{
    width: 507px;
    height: 54px;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 54.47px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.map{
    width: 90vw;
    height: 772px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.right{
    width: 1390px;
    height: 772px;
    opacity: 0.6px;
    margin-left: -700px;
}
.left{
    display: grid;
    justify-content: space-between;
    align-items:start;
    width: 659px;
    height: 772px;
}
.slide{
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin-left: 60px;
    box-shadow: 3px 3px 10px 0px #00000014;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide img{
    height: inherit;
}
.slide .spot{
    width: 93px;
    height: 54px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-align: left;
}
.pack{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.pack-page{
    width: 100vw;
    height: 950px;
    background: #ECF1F0;

}
.pack-page h1{
    width: 445px;
    height: 54px;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 54.47px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}
.clicks{
    width: 80vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 40px;

}
.clicks button{
    width: 180px;
    height: 60px;
    background: #666666;
    border-radius: 10px;
    color: white;
    border: none;
}
.clicks button:hover{
    background: #00A651;
}
.pack-card{
    width: 80vw;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 50px; 
}
.best-card{
    width: 350px;
    height: 489px;
    border-radius: 10px;
    display: grid;
    justify-content: space-between;
    align-items: end;
    position: relative;

}
.best-card img{
    height: 100%;
    width: 100%;
}
.down{
    width: 100%; 
    background: white;
    height: 150px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    display: grid;
    border-radius: 0 0 10px 10px;
}
.gp1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.story span{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-left: 10px;
}
.base{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.pack-page .butn{
    border: none;
    background: #00A651;
    color: white;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.butn span{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    text-align: center;
    width: 231px;
    height: 30px;
    border: none;
}
.book-section{
    width: 100vw;
    height:fit-content;
    padding-top: 40px;
    display: grid;
}
.book-section h1{
   text-align: center;
    margin: auto;
    width:703px;
    height: 33px;
}
.book-section h3{
    text-align: center;
    margin: auto;
    width:703px;
    height: 33px;
}
.book-slide{
    width: 70vw;
    height: 466.94px;
    margin: auto;
    display: flex;
}

.yellow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.yellow2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -210px;
}
.yellow3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -270px;
}
.color{
    width: 65.21px;
    height: 66.59px;
    border-radius: 13px;
    background: #F0BB1F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two{
    background: #F15A2B;
}
.three{
    background: #006380;

}
.txt{
    display: grid;
    color: black;
    margin-left: 20px;
 
}
.txt p{
    color: black;
    text-align: left;
    width: 150.36px;
    height: 27.75px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
}
.txt .pan{
    width: 350.66px;
    height: 55.49px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.92px;
    text-align: left;
}
.ryt{
    width: 370px;
    height: 400px;
    border-radius: 10px;
    background: white;
    position: relative;
    box-shadow: 5px 5px rgb(245, 245, 252);
}
.ryt img{
    padding: 25px;
    border-radius: 50px;
}
.ryt p {
    padding-left: 25px;
    width: 134px;
    height: 22px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.41px;
    letter-spacing: 0.015em;
    text-align: left;
}
.ryt span, svg {
    padding-left: 20px;
}
.flex{
    width: 263px;
    height: 129px;
    border-radius: 20px;
    position: absolute;
    right: -100px;
    top: 230px;
    display: flex;
    justify-content:start;
    align-items: start;
    box-shadow: 5px 5px rgb(245, 245, 252);
}
.gather{
    display: grid;
}

.line{
    width: 156px;
    height: 5px;
    border-radius: 30px;
    display: flex;
    margin-left: 20px;
}
.purple{
    width: 50%;
    height: inherit;
    background: #8A79DF;
}
.wyt{
    width: 50%;
    height: inherit;
    background: #F5F5F5;
}
.peeps{
    width: 100vw;
    height: 830px;
    background: #ECF1F0;
}
.peeps p{
    width: 524px;
    height: 54px;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 54.47px;
    text-align: center;
    margin: auto;
    padding: 30px 0;
}
.frame{
    width: 100vw;
    height: 597px;
    margin-left:150px;
    position: relative;
}
.kot{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 738px;
    height: 250px;
    background: white;
    position: absolute;
    bottom: 5px;
    left: 250px;
}
.kot p{
    width: 541px;
    height: 94px;
    margin-top: 50px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.kot span{
    margin: auto;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    margin-bottom: 30px;
}
.fine-boy{
   position: absolute;
   left: 530px;
   bottom: 190px;
}
.sub-footer{
    width: 1170px;
    height: 407px;
    background: #9FFFEC;
    margin: auto;
    margin-top:50px;
    border-radius: 129px 20px 20px 20px;
    opacity: 0.2px;
    position: relative;
}
.round{
    position: absolute;
    right: -20px;
    top: -20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(201.65deg, #32DF8F 10.27%, #005F15 100%);
    margin-right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub{
    font-family: Open Sans;
    font-size: 33px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    width: 819px;
    height: 108px;
    margin: auto;
    padding-top: 100px;
}
.ipt{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 100px;
}
.put{
    width: 450px;
    border-radius: 10px;
    background: #FFFFFF; 
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ipt input{
    width: 421px;
    height: 68px;
    border-radius: 10px;
    background: #FFFFFF;
    border: none; 
}
.ipt button {
    background: #00A651;
    width: 180px;
    height: 68px;
    border-radius: 10px;
    color: white;
    border: none;
}
.star{
    position: absolute;
    right: -90px;
    bottom: -70px;
}
main-footer{
    display: flex;
    width: 90vw;
    height: 215px;
    margin: auto;
    margin-top: 100px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.foot1{
    width: 290px;
    height: 160px;
}
.foot1 h1{
    width: 97px;
    height: 77px;
    font-family: Laila;
    font-size: 24px;
    font-weight: 700;
    line-height: 24.6px;
    text-align: center;
    margin: auto;
}
.foot h1 span{
    font-family: Laila;
    font-size: 32px;
    font-weight: 700;
    line-height: 32.8px;
    text-align: center;
}
.foot1 h6{
    width: 290px;
    height: 67px;
    text-align: center;
}
.foot2{
    width: 290px;
    height: 160px;
    width: 666px;
    height: 215px;
    display: flex;
    align-items: start;
    column-gap:120px ;
}
 .line1{
    display: grid;
    grid-row-gap:15px ;
}
.line1 h1{
    margin-top: 0;
    font-family: Open Sans;
    font-size: 21px;
    font-weight: 700;
    line-height: 26.15px;
    text-align: left;
}
.line1 a{
    text-decoration: none;
    color: black;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.41px;
    text-align: left;
}
.foot3{
    width: 300px;
    height: 215px;
}
.foot3 h1{
    width: 243px;
    height: 35px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.9px;
    letter-spacing: 0.005em;
    text-align: left;
}
section h6{
    width: 285px; 
    height: 23px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.43px;
    text-align: left;
    margin:auto;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    .bg{
        background-image: url(assets/stefan.png);
        background-size: cover;
        height:100vh;
        width: 100vw;
    }
    .navbar{
        display: none;
         height: 70px;
        width: 80vw;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .middle {
        display: none;
    }
    .rit {
        display: none;
    }
    .let{
        width: 60px;
        height: 40px;
    }
    .let p{
        font-family: Laila;
        font-size: 18px;
        font-weight: 700;
        line-height: 24.6px;
    }
    .let span{
        font-size: 25px;
        font-weight: 700;
    }
    .imgn{
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 150px;
        margin: auto;
        margin-top: 50px;
    }
    .imgn h1{
        color: white;
        font-size: 30px;
        font-weight: 800;
        text-align: center;
        margin: auto;
    }
    .bg h3{
        width: 350px;
        height: 60px;
        margin-top: 50px;
        font-weight: 400;
        
    }
    .bg button{
        margin: auto;
        margin-top: 60px;
        height: 60px;
        margin-left: 85px;
    }
    .service-card{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        margin: 0, 20px, 50px, 20px;
    }
    .card{
        width: 330px;
    }
    .bg-2{
        /* border: 1px solid red; */
        width: 350px;
        height: fit-content;
        margin-top: -5px;
    }
    .bg-2 h1{
        width: 300px;
        height: 108px;
        font-size: 30px;
        line-height: 40px;
    }
    .bg-2 h3{
  
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
        text-align: center;
        width: fit-content;
        height: fit-content;
    }
    .card-2{
        width: 95vw;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        padding: 0 30px;
    }
    .kad{
        width: 150px;
    }
    .section4 h1{
        width: 350px;
        height: fit-content;  
    }    
    .map{
        width: 80vw;
        flex-direction: column;
    }
    .left{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        width: 100vw;
        height: fit-content
    } 
    .slide{
        width: 350px;
        height: 200px;
        border-radius: 15px;
        margin-left: 60px;
        box-shadow: 3px 3px 10px 0px #00000014;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slide img{
        height: inherit;
        width: 40%;
    }
    .slide .spot{
        width: 50px;
        height: 54px;
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 600;
        line-height: 27.24px;
        text-align: left;
    }
    .pack{
        justify-content: space-between;
    }
    .pack .country{
        font-size: 15px;
        margin-left: -15px;
    }
    .pack-page{
        margin-top: 700px;
        height: fit-content;
    }
    .pack-page h1{
        width: 300px;
        height: fit-content;
        font-size: 40px;
        font-weight: 700;
        line-height: 40.47px;
    }
    .clicks{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 10px;
    }
    .pack-card{
        width: 80vw;
        height: 500px;
        display: grid;
        row-gap: 30px;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 200px; 
    }
    
    .down{
        height: fit-content;
        border-radius: 0 0 12px 12px;
    }
   
    .pack-page .butn{
        border: none;
        background: #00A651;
        color: white;
        width: 300px;
        height: 70px;
        margin-left: 10px;
        border-radius: 10px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1100px;
    }
    .book-section .top{
        width: 350px;
        height: fit-content;
        margin: auto;
        margin-bottom: 150px;
    }
    .book-section .top h1{
        font-size: 20px;
        margin-left: -180px;
    }
    .book-section .top h3{
        font-size: 17px;
        margin-left: -180px;
    }
    .book-slide{
        height: fit-content;
        display: grid;
        row-gap: 70px;
        margin-top: -70px;
    }
    .left{
        height: 500px;
        width: 350px;
        margin-left: -40px;
    }
    .yellow2{
        margin-top: -260px;
    }
    .ryt{
        margin-left: -50px;
        height: fit-content;
        margin-bottom: 20px;
    }
    .gather{
        display: none;
    }
    .peeps{
        margin-top: 50px;
    }
    .peeps p{
        width: 350px;
        font-size: 25px;
    }
    .frame{
        width: 350px;
        height: fit-content;
        margin-left: 0px;
        overflow-x: hidden;
        margin: auto;
        background: cover;
    }
    .kot{
        width: 300px;
        height: fit-content;
        left: 25px;
        bottom: -50px;
    }
    .kot p{
        width: 250px;
        font-size: 15px;
        margin-top: 0;
    }
    .sub-footer{
        width: 95vw;
        border-radius: 15px 5px 5px 5px;
    }
    .round{
        width: 50px;
        height: 50px;
        right: 10px;
    }

    .sub{
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        width: 300px;
        height: fit-content;
        margin: auto;
        padding-top: 50px;
    }
    .ipt{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .put{
        width: 350px;
    }
    main-footer{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
        align-items: center;
        height: fit-content;
    }
    .foot1 h6{
        margin-top: 0;
    }
    #last{
        margin: auto;
        margin: 50px 100px;
      
    }
    .foot2{
        width: 250px;
        column-gap: 30px;
        margin: auto;
        justify-content: center;
        height: fit-content;
        
        /* display: grid;
        grid-template-columns: auto auto;
        gap: -10px;
        margin-bottom: 50px; */
    }
    .foot3{
        margin-top:40px;
    }
    .foot3 h1{
        margin-left: auto;
    }
}